.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.home__header a:hover {
  text-decoration: underline;
}
.home__headerRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}
.home__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* //you might think how the google logo is centered
  //since we have added in home flex-direction: column
  //so this beign home's child takes its property */
}
.home__body > img {
  object-fit: contain;
  height: 100px;
  align-items: center;
}
